
.white{
    background-color: white;
   
}
.red{
    background-color: #F78888;
   
}

.yellow{
    background-color: #F3D250;
   
}

.bright{
    background-color: #ECECEC;

}

.blue{
    background-color: #90CCF4;

}

.dark_blue{
    background-color: #5DA2D5;

}

.green{
    background-color:#16FFBD;

 }

.purple{
    background-color: #D0B2EB;
}

 

