.move-area{/*normally use body*/
   
  }
  .container {
    width: 100%;
  }
  .eye {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background: #ECECEC;
  }
  .eye:after { /*pupil*/
    position: absolute;
    bottom: 17px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #000;
    border-radius: 50%;
    content: " ";
  }