
 :local(.button-turtle-green){
  background-color: #81894E;
  color: white;
}

:local(.button-viridian-green){
  background-color: #009499;
  color: white;
}

:local(.button-viridian-yellow){
  background-color: #FFDA29;
  color: white;
}

